

#demo{
    width:70vw;
    height: 70vhx;
    position: fixed;
    text-align: center;
    left:0px;
    right:0px;
    top: 0px;
    bottom:0px;
    margin:auto;
    display: inline;
}
.photo {
    height:100px;
	left:0px;
    
}