#logo {
    height:100px;
}

body {
    margin: 0px;
}

#home {
    width:100vw;
}

#header {
    width:100%
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

#navigation {
    width:100%;
}


#bg1 {background-image: url(bg1.jpg)}

#bg2 {background-image: url(bg2.jpg)}

#bg3 {background-image: url(bg3.jpg)}

#bg4 {background-image: url(bg4.jpg)}

.item {
    width:100%;
    height:20vh;
    position: relative;
    background-size: cover;
    background-position: center;
}

.subTitleBox {
    width:30%;
    height:100%;
    margin: auto;
    opacity: 0.5; 
    background-color: dimgray;
}

.subTitle {
    position: absolute;
    margin: auto;
    right: 0px;
    left: 0px;
    top:0px;
    bottom: 0px;
    width: 100px;
    height:30px;
    font-size: 20px;
}

#main{
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    background-color: rgba(0, 0, 0, 0, 0.5);
    display: none;
    position: fixed;
}

#mcontents {
    background-color: white;
	position: absolute;
    margin: auto;
    right: 0px;
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: 75%;
	height: 40%;
}

#mc3{
    position: absolute;
    background-size: 100px;
	height: 100px;
	width: 100px;
	right: 100px;
	top: 100px;
	margin: auto;
    background-position: center;
	background-repeat: no-repeat;

}

#mc2{
    position: absolute;
    background-size: 100px;
	height: 100px;
	width: 100px;
    left: 100px;
	right: 100px;
	top: 100px;
	margin: auto;
    background-position: center;
	background-repeat: no-repeat;
}

#mc1{
    position: absolute;
    background-size: 100px;
	height: 100px;
	width: 100px;
    left: 100px;
	top: 100px;
	margin: auto;
    background-position: center;
	background-repeat: no-repeat;
}


